.main-container{
  height: 100vh;
}

.container-asia{
  width: 50%;
  height: 50%;
  background-color: pink;
  position: relative;
}

.slide{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.button{
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  right: 50%;
  background-color: white;
  text-align: center;
}

.sotto{
  position: absolute;
  bottom: 0;
}

.sopra{
  position: absolute;
  top: 0;
}

.hide{
  display: none;
}